body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  --bs-nav-link-font-weight: 700;
}

.button-spacer{
  width:3em;
  display: inline-block;
  @media only screen and (max-width: 993px) {
    display: block;  
    height: 10px;
  }
}

.text-burgundy{
  color: $red-700;
}

.fade {
	-webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.card-body{
  background-color: #eaeaea;
}

.header-home a, .header-resources a{
  text-decoration: none;
  color: #6c757d;
  font-weight: 600;
  font-size: 18px;

  &:hover{
    text-decoration: underline;
  }
}

.breadcrumb-item.active{
  color: #6c757d !important;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}