@media print {
    .data-input .one-step .step-description{
        visibility: visible;
        opacity: 1;
    }

    .one-step.d-none{
        display: block !important;
    }

    .btn{
        display: none;
    }

    #example-collapse-text{
        display: block !important;
    }
}