$breadcrumb-divider: ">";
$breadcrumb-divider-color: red;
$primary: black;//#4D4D4D;
$danger: red;

$disabled-number-color: rgba(224, 43, 39, 0.6);
$disabled-title-color: rgba(0, 0, 0, 0.4);
$active-number-color: #E02B27;
$inactive-color: #D8D8D8;
$active-color: black;
$inactive-line-color: #EAEAEA;